
@font-face{
	src: url(../font/font.woff2);
	font-family: myFont;
}

@font-face{
	src: url(../font/font2.woff2);
	font-family: newFont;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: myFont;
}


html{
	scroll-behavior: smooth;/*dandax scrool*/
}

.header{
	width: 100%;
	height: 72px;
	background: white;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.icons {
	display: flex;
	gap: 10px;
	list-style: none;
	font-size: 20px;
}

.menu {
	display: flex;
	gap: 50px;
	list-style: none;
}

.menu a{
	color: black;
	transition: 0.3s;
}

.menu >li:first-child a{
	color: #218376;
}

.menu a:hover{
	color: #218376 !important;
}

.home{
	width: 100%;
	height: 960px;
	background: url(../img/header.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	margin-top: 74px;
	background-attachment: fixed;/*nkary fiqsel*/
}

.home h1{
	font-size: 63px;
	font-family: newFont;
	letter-spacing: 15px;
	text-transform: uppercase;/*metcatar*/
}

.home h2{
	font-size: 29px;
	letter-spacing: 4px;
}

.home span{
	color: #00E3C8;
	font-family: newFont;
}

.about{
	width: 100%;
	height: 568px;
	background-image: url(../img/aboutimg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #00E3C8;
	background-position: 200px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about div{
	width: 349px;
	margin-left: 500px;
	display: flex;
	flex-direction: column;
	gap: 40px;

}

.about h1{
	font-size: 42px;
	font-family: newFont;
/*	letter-spacing: 5px;*/
}

.about p{
	line-height: 1.5;
}

.about button{
	width: 123px;
	height: 40px;
	background: black;
	color: white;
	border: 1px solid black;
	transition: .5s;
}

.about button:hover{
	background: transparent;
	color: black;
}

.showreels{
	width: 100%;
	height: 1000px;
	background: url(../img/2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.showreels button{
	width: 810px;
	height: 134px;
	border: 10px solid black;
	cursor: pointer;
	transition: .5s;
	font-size: 39px;
	letter-spacing: 6px;
	font-family: newFont;
	text-transform: uppercase;
}

.showreels a:nth-child(1) button{
	background: #b3f3ec;
}

.showreels a:nth-child(2) button{
	background: #00e3c8;
}

.showreels a:nth-child(3) button{
	background: #218376;
}

.container {
  position: relative;
  width: 33.3%;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000ad;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .image{
	transform: scale(1.1);
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  /*-webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  transform: translate(-19%, -50%);
  text-align: center;
}

.text h1{
	font-size: 25px;
	font-family: newFont;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.text p{
	font-size: 20px;
}

.text i{
	  transform: translate(188px, 34px);
}

.gallery{
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.representation{
	width: 100%;
	height: 885px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #00e3c8;
}

.representationTop{
	width: 810px;
	height: 126px;
	font-size: 30px;
/*	letter-spacing: 2px;*/
	text-transform: uppercase;
	background: transparent;
	border: 10px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}

.representationTop h1{
	font-family: newFont;
}

.contact{
	width: 810px;
	height: 450px;
	display: flex;
	justify-content: center;
}

.contactLeft{
	width: 260px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	color: black;
}

.contactLeft a{
	color: black;
}

.contactLeft h1{
	font-size: 25px;
	font-family: newFont;
}

.contactLeft p{
	font-size: 17px;
	line-height: 1.5;

}
.contactLeft div:nth-child(2){
	width: 200px;
}

.contactLeft .icons{
	font-size: 30px;
}
.contactRight input{
	width: 230px;
	height: 35px;
	background: transparent;
	border: 1px solid black;
	outline: none;
	padding: 5px;
}

.contactRight td{
	padding: 0px 0px 10px 21px;
}


textarea{
	width: 483px;
	height: 110px;
	background: transparent;
	padding: 5px;
	outline: none;
	border: 1px solid black;
}

.contactRight button{
	width: 154px;
	height: 40px;
	font-size: 15px;
	background: black;
	color: 	white;
	cursor: pointer;
	border: none;
	transition: .5s;
}

.contactRight button:hover{
	background: transparent;
	color: black;
	border: 1px solid black;
}

.footer{
	width: 100%;
	height: 60px;
	background: white;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
}

.footer :nth-child(1) a{
	text-decoration: underline;
}

.arrow {
	color: black;
	font-size: 40px;
}

@media only screen and (max-width: 1024px){
	.about{
		background-position: 60px 0;
	}
}
		
@media only screen and (max-width: 768px){
	.menu{
		gap: 27px;
	}

	.home{
		height: 740px;
	}

	.showreels{
		height: 500px;
	}

	.about{
		background-position: 0 0;
		height: 471px;
		font-size: 13px;
	}

	.about h1 {
	    font-size: 32px;
	}

	.about div {
    	width: 270px;
    	margin-left: 419px;
    }

    .showreels button {
    	width: 609px;
    	height: 103px;
	}

	.contact{
		width: 100%;
		padding: 0 20px;
	}

	.contactLeft{
		font-size: 20px;
	}

	.representationTop {
   	    width: 555px;
   		height: 85px;
    	font-size: 16px;
    }

	.representation{
		height: 650px;
	}
}

@media screen and (max-width: 722px){
	.about{
		background-size: 321px;
	}
	.showreels button{
		width: 400px;
    	height: 67px;
		font-size: 20px;
	}

	.representationTop{
		width: 446px;
    	height: 74px;
    	font-size: 11px;
	}
	
	.contact{
		width: 100%;
		padding: 0 20px;
	}

	.contactLeft{
		font-size: 10px;
	}	

	.contactLeft h1{
		font-size: 15px;
	}
	.contactLeft p{
		font-size: 13px;
	}

	.contactLeft .icons{
		font-size: 13px;
	}

	.contactRight input {
    	width: 148px;
	    height: 28px;
	}

	textarea{
		width: 323px;
	}
}

